<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planner" href="/tabs/planner">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Planner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits" href="/tabs/habits">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>Habits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budget" href="/tabs/budget">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Budget</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meals" href="/tabs/meals">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Meals</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
